---
layout: default
title: Bonifati.us Blog
---

<div class="page page-index">
  <div class="posts">
    {% for post in site.posts %}
      <div class="teaser" lang="{{ post.lang }}">
        <aside>
          {% if post.image %}
          <a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}"><img src="{{ post.image | append: '_teaser.jpg' | prepend: 'images/'' | prepend: site.baseurl }}" class="image-teaser" /></a>
          {% endif %}
        </aside>
        <header>
          <span class="post-date">{{ post.date | date_to_string }} {% if page.author %}by {{ site.authors[page.author].name }}{% endif %}</span>
          <h3 class="title"><a href="{{ post.url | prepend: site.baseurl  }}" title="{{ post.title }}">{{ post.title }}</a></h3>
        </header>
        <main class="post-content">
          {{ post.excerpt | markdownify }}
        </main>
      </div>
    {% endfor %}
  </div>
</div>
