---
layout: default
title: Bonifati.us Blog
---

<div class="page page-index">
  <div class="posts">
    {% for post in site.posts %}
      <div class="teaser" lang="{{ post.lang }}">
        <aside>
          {% if post.image %}
          <img src="images/{{ post.image }}" />
          {% endif %}
        </aside>
        <header>
          <span class="post-date">{{ post.date | date_to_string }}</span>
          <h3 class="post-title"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h3>
        </header>
        <main>
          {{ post.excerpt | markdownify }}
        </main>
      </div>
    {% endfor %}
  </div>
</div>