
      <footer>
        <div class="inner">
          <div class="copyright">
            &copy; 2015 Bonifati.us
            <em>{{ site.mission }}</em>
          </div>
          <div class="nav">
            <ul>
              <li><a href="{{ "/" | prepend: site.baseurl | prepend: site.url }}">home</a></li>
              <li><a href="{{ "/imprint" | prepend: site.baseurl | prepend: site.url }}">imprint</a></li>
              <li><a href="{{ "/bonifatiuslied" | prepend: site.baseurl | prepend: site.url }}">bonifatiuslied</a></li>
              <li><a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">feed</a></li>
            </ul>
          </div>
          <div class="links">
            <ul>
            </ul>
          </div>
        </div>
      </footer>
      <!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//misiones-glauben-leben.de/piwik/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 7]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//misiones-glauben-leben.de/piwik/piwik.php?idsite=7" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->

    </div>
  </body>
</html>
