
      <footer>
        <div class="inner">
          <div class="copyright">
            &copy; 2014 Bonifati.us
            <em>{{ site.mission }}</em>
          </div>
          <div class="nav">
            <ul>
              <li><a href="/">home</a></li>
              <li><a href="/imprint">imprint</a></li>
              <li><a href="/bonifatiuslied">bonifatiuslied</a></li>
            </ul>
          </div>
          <div class="links">
            <ul>
            </ul>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
