
.links > a {
  vertical-align: middle;
  display: inline-block;
  padding: .2em;
  border-radius: .3em;
  text-transform: uppercase;
  position: relative;

  &:hover, &:focus {
    &::before {
      left: 0;
      right: 0;
      transition: left .3s, right .3s, background .3s;
      background-color: rgba(193, 51, 39,1);
    }
  }

  &::before {
    content: "";
    position: absolute;
    background-color: rgba(193, 51, 39,0);
    height: .15em;
    margin-left: -0.2em;
    margin-top: -.2em;
    left: 50%;
    right: 50%;
    border-radius: 0.075em;
  }

  > span {
    font-size: .85rem;
  }
}


.image-friend {
  max-width: 18em;
  display: block;
  max-height: 7em;
  object-fit: fill;
  width: 100%;
}


.post-content .videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
  }
}
