html {
  background-color: color(background);
}
html, body {
  margin: 0;
  padding: 0;
}

%content-width-container {
  @include breakpoint(small-screen) {
  }
  @include breakpoint(medium-screen) {
    //margin: 0 auto;
  }
  @include breakpoint(large-screen) {
    width: 100%;
    max-width: $content-width;
    padding: 0 2em;
  }
}

.site-header  {
  margin: $spacing-unit / 2;
  .site-logo {
    text-align: center;
    img {
      max-width: 10 * $spacing-unit;
    }
    .site-title {
      display: none;
    }
  }
}

.site-main, .site-header {
  max-width: $content-width * 1.66;
  margin-left: auto;
  margin-right: auto;
  > :not(.page-index) {
    @extend %content-width-container;
  }
}

.site-main {
  margin-bottom: 5 * $spacing-unit;
  padding: 0 $spacing-unit / 2;
}

.site-footer {
  display: flex;
  justify-content: space-between;

  background-color: color(footer-background);
  color: color(light);

  font-size: .7rem;
  font-family: $fontFamily_headlines;
  text-align: center;

  padding: $spacing-unit;

  > * {
    margin-bottom: $spacing-unit/2;

    &.copyright {
      text-align: left;
    }
    &.site-nav {
      text-align: right;
    }
    &.copyright, &.site-nav {
      flex: 1 1 20em;
    }
    &.site-social-links {
      font-size: 1.1rem;
    }
    &.footer-links {
      flex-grow: 1;
    }
  }

  a {
    color: color(action-hover);
    &:hover, &:focus {
      color: color(action);
    }
  }
}

.site-nav {
  ul {
    margin: 0;
    padding: 0;
    text-align: center;

    li {
      display: inline;
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  > p {
    width: 100%;
  }
  > a {
    min-width: 10em;
    max-width: 18em;
    flex: 1 1 15em;
    display: block;
    margin: .5em;
  }
}
