html, body, table {
  font-size: size(font, .75);
  line-height: $line-height;
  font-family: $fontFamily_body;
  color: color(copy);

  @include breakpoint(small-screen) {
    font-size: size(font, .8);
  }
  @include breakpoint(medium-screen) {
    font-size: size(font, .9);
  }
  @include breakpoint(large-screen) {
    font-size: size(font);
  }
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  padding: size(unit, .5) 0;
  font-family: $fontFamily_headlines;
}
h1 {
  font-size: 1.9rem;
  &:first-child {
    padding-top: .5rem;
  }
}
hgroup {
  padding: size(unit, .5);
}
.title {
  font-size: 2.2rem;
  padding: 0;
  color: color(headlines);
}
.subtitle {
  font-size: 1.1rem;
  padding: 0;
}
h2 {
  font-size: 1.2rem;
}
h3 {
  font-size: 1rem;
}
p + h2, p + h3, p + h4 {
  margin-top: size(unit);
}
a {
  text-decoration: none;
  color: color(action);

  &:hover, &:focus {
    color: color(action-hover);
  }
}

blockquote {
  margin: size(unit, .5) 0;
  background: #FFFFDD;
  padding: size(unit);
}

.post-content {
  p {
    margin-bottom: 0;
  }
  p + *, .videoWrapper + p {
    margin-top: size(unit, .5);
  }
}

svg.icon {
  height: 1.5em;
  width: 1.5em;
  color: color(action);
  fill: color(action);

  &:hover {
    background-color: color(action);

    border-radius: 100%;
    color: color(footer-background); // IE8
    fill: color(footer-background);
    transform: scale(1.25);
    transition: background-color .5s, transform .5s ease-out;
  }
}
