body, table {
  font-size: $fontSize;
  line-height: $lineHeight;
  font-family: $fontFamily_body;
  color: $fontColor_body;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  padding: $spacing-unit/2 0;
  font-family: $fontFamily_headlines;
}
h1 {
  font-size: 2.6rem;
  &:first-child {
    padding-top: .5rem;
  }
}
hgroup {
  padding: $lineSize / 2;
}
.title {
  font-size: 3rem;
  padding: 0;
  color: $color_fgLink;
}
.subtitle {
  font-size: 1.7rem;
  padding: 0;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.4rem;
}
p + h2, p + h3, p + h4 {
  margin-top: 1.5rem;
}
a {
  text-decoration: none;
  color: $color_fgLink;

  &:hover, &:focus {

    color: $color_fgLinkHover;

    body > main & {
      background-color: $color_bgHover;
    }
  }
}

blockquote {
  margin: $spacing-unit/2 0;
  background: #FFFFDD;
  padding: $spacing-unit;
}

p {
  margin-bottom: 0;
  & + * {
    //text-indent: $lineSize/2;
    margin-top: $lineSize/2;
  }
}

.links > a {
  vertical-align: middle;
  display: inline-block;
}

svg.icon {
  height: 1.5em;
  width: 1.5em;
  color: $color_fgLink;
  fill: $color_fgLink;

  &:hover {
    background-color: $color_fgLink;

    border-radius: 100%;
    color: $color_bgFooter; // IE8
    fill: $color_bgFooter;
    transform: scale(1.25);
    transition: background-color .5s, transform .5s ease-out;
  }
}
