html, body, table {
  font-size: $fontSize * .75;
  line-height: $lineHeight;
  font-family: $fontFamily_body;
  color: $fontColor_body;

  @include breakpoint(small-screen) {
    font-size: $fontSize * .8;
  }
  @include breakpoint(medium-screen) {
    font-size: $fontSize * .9;
  }
  @include breakpoint(large-screen) {
    font-size: $fontSize;
  }
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  padding: $spacing-unit/2 0;
  font-family: $fontFamily_headlines;
}
h1 {
  font-size: 1.9rem;
  &:first-child {
    padding-top: .5rem;
  }
}
hgroup {
  padding: $lineSize / 2;
}
.title {
  font-size: 2.2rem;
  padding: 0;
  color: $color_fgLink;
}
.subtitle {
  font-size: 1.1rem;
  padding: 0;
}
h2 {
  font-size: 1.2rem;
}
h3 {
  font-size: 1rem;
}
p + h2, p + h3, p + h4 {
  margin-top: $spacing-unit;
}
a {
  text-decoration: none;
  color: $color_fgLink;

  &:hover, &:focus {
    color: $color_fgLinkHover;

    body > main & {
      background-color: $color_bgHover;
    }
  }
}

blockquote {
  margin: $spacing-unit/2 0;
  background: #FFFFDD;
  padding: $spacing-unit;
}

.page-content {
  p {
    margin-bottom: 0;
    & + * {
      //text-indent: $lineSize/2;
      margin-top: $lineSize/2;
    }
  }
}

svg.icon {
  height: 1.5em;
  width: 1.5em;
  color: $color_fgLink;
  fill: $color_fgLink;

  &:hover {
    background-color: $color_fgLink;

    border-radius: 100%;
    color: $color_bgFooter; // IE8
    fill: $color_bgFooter;
    transform: scale(1.25);
    transition: background-color .5s, transform .5s ease-out;
  }
}
