.posts {

  .teaser {
    margin-bottom: $lineSize;

    & > header {
      & > .post-date {
        color: $color_fgLight;
        font-size: $fontSize_small;
      }
      & > h3 {
        font-size: 1.6em;
        line-height: 1;
        padding-bottom: .5rem;
      }
    }
  }

  @include breakpoint(large-screen) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .teaser {
      width: 50%;
      &:nth-child(2n-1) {
        padding-right: 1em;
      }
    }
  }
}
