.posts {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: baseline;

  .teaser {
    margin: $spacing-unit / 2;
    flex: 1 1 20em;
    max-width: 600px;

    > aside img {
      width: 100%;
    }

    .post-content {
      margin-top: 0;
      text-align: justify;
    }

    & > header {
      & > .post-date {
        color: $color_fgLight;
        font-size: $fontSize_small;
      }
      & > h3 {
        font-size: 1.6em;
        line-height: 1;
        padding-bottom: $spacing-unit / 4;
      }
    }
  }
}
