.posts {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: baseline;

  .teaser {
    margin: size(unit, .5);
    flex: 1 1 20em;
    max-width: 500px;

    > aside img {
      width: 100%;
    }

    .post-content {
      margin-top: 0;
      text-align: justify;
      font-size: size(font, .9);
    }

    & > header {
      & > .meta {
        color: color(light);
        font-size: size(font-small);
      }
      & > h3 {
        font-size: 1.6em;
        line-height: 1;
        padding-bottom: size(unit, .25);
      }
    }
  }
}
