.meta {
  font-family: $fontFamily_headlines;
  color: $color_fgLight;
  font-size: $fontSize_small;
  padding-bottom: .5rem;
}
.post-content {
  margin-top: $lineSize / 2;
  max-width: 40em;
  section {
    padding-bottom: $lineSize/2;
  }
  iframe {
    margin: 1.5rem 0;
  }
  p:first-child strong:only-child {
    font-size: 1.1em;
  }
}
article > header {
  text-align: center;
}
