
.image-cover {
  display: block;
}
.image-attribution {
  font-family: $fontFamily_headlines;
  display: block;
  text-align: right;
  color: color(lighter);
  font-size: size(font-smallest);

  a {
    color: inherit;
  }
}
.page-post .meta {
  font-family: $fontFamily_headlines;
  color: color(light);
  font-size: size(font-small);
  padding-bottom: size(unit, .5);
}
.post-content {
  margin-top: size(unit, .5);
  max-width: 40em;
  section {
    padding-bottom: size(unit, .5);
  }
  iframe {
    margin: size(unit) 0;
  }
  > p:first-child > strong:only-child {
    :not(.teaser) > & {
      font-family: $fontFamily_headlines;
      font-size: 1.1rem;
      font-weight: bold;
    }
    .teaser > & {
      font-weight: normal;
    }
  }
}
article > header {
  text-align: center;
}

.post-lang {
  display: block;
  float: right;
  text-transform: uppercase;
  font-family: $fontFamily_headlines;
  color: color(brand);
  font-style: italic;
  font-weight: bold;
}
