.meta {
  font-family: $fontFamily_headlines;
  color: $color_fgLight;
  font-size: $fontSize_small;
  padding-bottom: $spacing-unit / 2;
}
.post-content {
  margin-top: $lineSize / 2;
  max-width: 40em;
  section {
    padding-bottom: $lineSize/2;
  }
  iframe {
    margin: $spacing-unit 0;
  }
  > p:first-child > strong:only-child {
    font-size: 1.1rem;
    //font-family: $fontFamily_body;
    .teaser > & {
      font-weight: normal;
      font-size: 1rem;
    }
  }
}
article > header {
  text-align: center;
}
