

$fontSize: 18.5px;
$fontSize: 20px;
$lineHeight: 1.4;

@import url("http://fonts.googleapis.com/css?family=Cabin:400,500,600,700,400italic,500italic,600italic,700italic|Gentium+Basic:400,700,400italic,700italic");
$fontFamily_body: "Gentium Basic", "Gentium Book Basic", serif;
$fontFamily-monospace: "Source Code Pro", Menlo, Monaco, Consolas, "Courier New", monospace !default;
$fontFamily_headlines: "Cabin", "Open Sans", "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$fontColor_body: #333;

$color_bg: #fafafa;
$color_bgPage: #fdfdfd;
$color_bgFooter: #eee;
$color_bgHover: #fafafa;

$color_fgLight: #777;
$color_fgThin: #eee;
$color_fgLink: #C13327;
$color_fgLinkHover: darken(adjust-hue(#C13327, -10deg), 5%);
//$color_fgLinkHover: mix(#C13327, #FF0000, 60%);

$lineSize: $lineHeight * $fontSize;
$fontSize_small: $fontSize * .8;