---
layout: default
---
<main class="page-post">
  <article lang="{{ post.lang }}">
    <header>
      {% if page.image %}
      <img src="{{ page.image | append: '.jpg' | prepend: '/images/' | prepend: site.baseurl }}" class="image-cover" />
      {% if page.image_attribution %}
      <span class="image_attribution">{{ page.image_attribution | raw }}</span>
      {% endif %}
      {% endif %}
      <hgroup>
        <h1 class="title">{{ page.title }}</h1>
        {% if page.subtitle %}
        <h2 class="subtitle">{{ page.subtitle }}</h2>
        {% endif %}
      </hgroup>
      <p class="meta">{{ page.date | date_to_string }} {% if page.author %}by {{ site.authors[page.author].name }}{% endif %}</p>
    </header>
    <main class="post-content">
      {{ content }}
    </main>
  </article>
</main>
